// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Platform theme
$platformMainColor: theme('colors.orange.500');
$platformMainColorHover: theme('colors.orange.300');
$platformGradientStart: theme('colors.orange.500');
$platformGradientEnd: theme('colors.orange.300');
$platformTextColor: theme('colors.white');

/* Navbar */
$platformNavTextColor: theme('colors.teal.100');
$platformNavHoverColor: theme('colors.gray.700');
$platformNavDropdownBg: theme('colors.gray.200');
$platformNavDropdownText: theme('colors.black');

/* Jumping Animation */
$jumpBigStepUp: 4px;
$jumpBigStepDown: -4px;
$jumpSmallStepUp: 1px;
$jumpSmallStepDown: -1px;

// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Domine|Roboto&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Domine:400,700|Roboto:400,400i,700&display=swap');

